
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
}
  
                        /* <!-- nav-container -- */

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 .nav-box1{
     display: flex;
     align-items: center;
     gap: 0.6875rem;
}
.nav-box2 ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.nav-btn{
    font-family: "Quicksand",serif;
    border-radius: 0.75rem;
    background: rgb(254, 163, 1);
    padding: 0.63rem;
    width: 12.3rem;
   height: 3.14rem;
   border: none;
   color: #FFFFFF;
   font-size:1.25rem;
   font-weight: 600;
   margin-left: 11.32rem;
}
.items-1{
    color:#FEA301;
}
.items-2{
    color:#01ACFD;
}
.items-3{
    color:#05D4DF;
}
.items-4{

    color:#5D58EF;
}

.mobile-container{
    display: none;
}

.img-logo{
    width: 4.5rem;
    height: 4.5rem;
}
hr{
    display: none;
}
                     /* <!-- nav-container --> */
                     /* hero-container */
.hero-container{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    text-align: left;
    margin-left: 10rem;
    margin-right: 10rem;
   
}

.hero-titel{
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 3.5rem;
}
.span-1{
    color: #FEA301;
}
.span-2{
    color: #111111;
}
.span-3{
    color:#01ACFD;
}
.hero-text{
    font-family: "Quicksand", serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1.5rem;
}
.hero-btn{
    font-family: "Quicksand",serif;
    border-radius: 0.75rem;
    background: Black;
    padding: 0.63rem;
    width: 12.3rem;
   height: 3.14rem;
   border: none;
   color: #FFFFFF;
   font-size:1.25rem;
   font-weight: 600;
   margin-top: 1.5rem;
}
.hero-img{
    width: 29.25rem;
    height: 35.95rem;
}
                        /* hero-container-end */
 
                       /* <!-- Standard Curriculum -- */

.Curriculum-container{
    display: flex;
    justify-content: space-evenly;
}
.Curriculum-titel{
    font-family: "Quicksand", serif;
    Font-weight:700;
    Font-size: 2.875rem;
    text-align: center;
    margin-top: 3.75rem;
    margin-bottom: 5rem;
}
.Curriculum-box-1{
    max-width: 22.98rem;
    max-height: 29.75rem;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 1.125rem;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.Curriculum-box-2{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.Curriculum-box-3{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.box-1-titel{
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 1.53rem;
    text-align: center;
    color:#202020;
}

.box-1-text{
    font-family: "Quicksand", serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2.09rem;
}
.h-style{
 text-align: center; 
 color: #64C8FF;  
 font-weight: 700;
 font-size: 1rem;
 margin-top: 2.41rem;
 margin-bottom: 3.65rem;
}
.cc{
    color:#F0AA00;
}
.cc2{
    color: #8700FF;

}
.box-1-img{
    text-align: center;
    margin-top: 3.35rem;
}
.arro-btn{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 0.625rem;
}
.btn-1{
    height: 3.75rem;
    width: 3.75rem;
    background-color: #FEA301;
    border-radius: 50%;
}
.btn-2{
    height: 3.75rem;
    width: 3.75rem;
    background-color: #FEA301;
    border-radius: 50%;
}
section{
    background-image: url("assets/bg.png");
}
                           /* <!-- story-container --> */
.story-titel{
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 2.87rem;
    color: #000;
    text-align: center;
    margin-top: 7.5rem;
}
                        /* <!-- story-container-end --> */

                      /* nav-items-end*/
@media  screen and (max-width:576px){
                          /* nav-container */
    nav{
        display: none;
    }
    .mobile-container{
        display:inline;
        display: flex;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .img-logo{
        width: 2.87rem;
        height: 2.87rem;
    }
    .img-menu{
        margin-top: 0.5rem;
        width: 2.87rem;
        height: 1.87rem;
        justify-items: center;
    }
    hr{
        border: 0.5px solid rgb(254, 163, 1);
        display: block;
    }
                                  /* nav-container-end */
                                /* hero-container */
 .hero-container{
        flex-direction: column;
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    .hero-img{
        width: 20rem;
        height: 25rem;
    }
    .hero-titel{
        font-size: 2rem;
        font-weight: 700;

    }
                                     /* hero-container-end */
                                    /* <!-- Standard Curriculum --> */

.Curriculum-container{
    flex-direction: column;
    margin-left: 1.031rem;
    margin-right: 1.031rem;
                                
}
.Curriculum-titel{
    font-size: 1.625rem;
    font-weight: 700;
}
.Curriculum-box-1{
    margin-top: 0.678rem;
}
.Curriculum-box-2{
    margin-top: 0.678rem;
}
.Curriculum-box-3{
    margin-top: 0.678rem;
}
}